{% extends 'ndh.html' %}
{% load ndh %}

{% block pagetitle %}Djenealog{% endblock %}
{% block sitetitle %}Djenealog{% endblock %}

{% block navbarleft %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="djenealogDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
    Djenealog
  </a>
  <div class="dropdown-menu" aria-labelledby="djenealogDropdown">
      <a class="dropdown-item" href="{% url 'djenealog:graph' %}">Graphe</a>
      <a class="dropdown-item" href="{% url 'djenealog:individus' %}">Individus</a>
      <a class="dropdown-item" href="{% url 'djenealog:couples' %}">Couples</a>
      <a class="dropdown-item" href="{% url 'djenealog:add-individu' %}">Add Individu</a>
      <a class="dropdown-item" href="{% url 'djenealog:add-couple' %}">Add Couple</a>
  </div>
</li>
{% endblock %}
