{% extends 'ndh.html' %}
{% load ndh %}

{% block pagetitle %}Djenealog{% endblock %}
{% block sitetitle %}Djenealog{% endblock %}

{% block navbarleft %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="djenealogDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
    Djenealog
  </a>
  <ul class="dropdown-menu" aria-labelledby="djenealogDropdown">
    <li><a class="dropdown-item" href="{% url 'djenealog:graph' %}">Graphe</a></li>
    <li><a class="dropdown-item" href="{% url 'djenealog:stats' %}">Stats</a></li>
    <li><a class="dropdown-item" href="{% url 'djenealog:annivs' %}">Anniversaires</a></li>
      {% if request.user.is_superuser %}
      <li><a class="dropdown-item" href="{% url 'djenealog:individus' %}">Individus</a></li>
      <li><a class="dropdown-item" href="{% url 'djenealog:couples' %}">Couples</a></li>
      <li><a class="dropdown-item" href="{% url 'djenealog:add-individu' %}">Add Individu</a></li>
      <li><a class="dropdown-item" href="{% url 'djenealog:add-couple' %}">Add Couple</a></li>
      <li><a class="dropdown-item" href="{% url 'djenealog:lieux' %}">Lieux</a></li>
      {% endif %}
  </ul>
</li>
{% endblock %}
