{% extends 'base.html' %}

{% block content %}
{% include 'ndh/form.html' %}

{% if couple.pk %}

{% if couple.pacs %}
PACS: {{ couple.pacs }}
<a href="{% url 'djenealog:pacs' pk=couple.pacs.pk %}">edit</a>
<a href="{% url 'djenealog:del-pacs' pk=couple.pacs.pk %}">delete</a>
{% else %}
<a href="{% url 'djenealog:add-pacs' pk=couple.pk %}">Ajouter un PACS</a>
{% endif %}

<br>

{% if couple.mariage %}
Mariage: {{ couple.mariage }}
<a href="{% url 'djenealog:mariage' pk=couple.mariage.pk %}">edit</a>
<a href="{% url 'djenealog:del-mariage' pk=couple.mariage.pk %}">delete</a>
{% else %}
<a href="{% url 'djenealog:add-mariage' pk=couple.pk %}">Ajouter un Mariage</a>
{% endif %}

<br>

<a href="{% url 'djenealog:del-couple' pk=couple.pk %}">delete</a>

{% endif %}

{% endblock %}

{% block style %}
{{ form.media.css }}
{% endblock %}

{% block scripts %}
{{ form.media.js }}
{% endblock %}
