{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="graph"></div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/viz-lite.js' %}"></script>

<script type="txt/vnd.graphviz" id='graphe'>
digraph
{
    bgcolor=white;
    center="true";
    margin="1.0,1.0";
    mclimit="99";
    nodesep="0.40";
    ranksep="0.01 equally";
    searchsize="100";
    splines="true";

    {
        node [shape=none, color=white, fillcolor=white, fontsize=20];
        {% for year in years %}
        {{ year }} -> {{ year|add:"1" }} [style=invis];
        {% endfor %}
    }

    {
        edge [len=0.5 style=solid fontsize=30];
        node [style=filled fontsize=30];

        {% for individu in individus %}
        {
            {% if individu.naissance_y != 0 %}rank=same; {{ individu.naissance_y }};{% endif %}
            "I{{ individu.gramps }}" [ shape="box" fillcolor="#{% if individu.masculin %}e0e0ff{% else %}ffffe0{% endif %}" style="solid,filled"
                label="{{ individu.label }}" ];
        }
        {% if individu.parents %}
        "F{{ individu.parents.gramps }}" -> "I{{ individu.gramps }}" [ style=solid arrowhead=normal arrowtail=none dir=both ];
        {% endif %}
        {% endfor %}

        {% for couple in couples %}
        "F{{ couple.gramps }}" [ shape="ellipse" fillcolor="#ffffe0" style="filled" label="" ];
        subgraph cluster_F{{ couple.gramps }}
        {
            style="invis";
            {% if couple.mari %}"I{{ couple.mari.gramps }}" -> "F{{ couple.gramps }}" [ arrowhead=normal arrowtail=none dir=both ];{% endif %}
            {% if couple.femme %}"I{{ couple.femme.gramps }}" -> "F{{ couple.gramps }}" [ arrowhead=normal arrowtail=none dir=both ];{% endif %}
        }
        {% endfor %}
    }
}
</script>
<script>$('#graph').html(Viz($('#graphe').html(), 'svg'));</script>
{% endblock %}
