{% extends 'base.html' %}

{% block content %}
{% include 'ndh/form.html' %}

{% if individu.pk %}

<dl class="row">
  <dt class="col-sm-3">Naissance</dt>
  <dd class="col-sm-9">
  {% if individu.naissance %}
  {{ individu.naissance }}
  <a href="{% url 'djenealog:naissance' pk=individu.naissance.pk %}">edit</a>
  <a href="{% url 'djenealog:del-naissance' pk=individu.naissance.pk %}">delete</a>
  {% else %}
  <a href="{% url 'djenealog:add-naissance' pk=individu.pk %}">Ajouter une naissance</a>
  {% endif %}
  </dd>

  <dt class="col-sm-3">Décès</dt>
  <dd class="col-sm-9">
  {% if individu.deces %}
  {{ individu.deces }}
  <a href="{% url 'djenealog:deces' pk=individu.deces.pk %}">edit</a>
  <a href="{% url 'djenealog:del-deces' pk=individu.deces.pk %}">delete</a>
  {% else %}
  <a href="{% url 'djenealog:add-deces' pk=individu.pk %}">Ajouter un décès</a>
  {% endif %}
  </dd>

  {% if individu.parents %}
  <dt class="col-sm-3">Parents</dt>
  <dd class="col-sm-9">
  {{ individu.parents.get_link }}
  </dd>
  {% endif %}

  {% if individu.mari.exists or individu.femme.exists %}
  <dt class="col-sm-3">Couples</dt>
  <dd class="col-sm-9">
    {% for couple in individu.mari.all %}
    {{ couple.get_link }}
    {% endfor %}
    {% for couple in individu.femme.all %}
    {{ couple.get_link }}
    {% endfor %}
  </dd>
  {% endif %}

  <dt class="col-sm-3">Supprimer</dt>
  <dd class="col-sm-9"><a href="{% url 'djenealog:del-individu' pk=individu.pk %}">delete</a></dd>
</dl>
{% endif %}

{% endblock %}

{% block style %}
{{ form.media.css }}
{% endblock %}

{% block scripts %}
{{ form.media.js }}
{% endblock %}
