{% extends 'base.html' %}

{% block content %}

<dl class="row">
  <dt class="col-sm-3">Individus</dt><dd class="col-sm-9">{{ individus }}</dd>
  <dt class="col-sm-3">Hommes</dt><dd class="col-sm-9">{{ hommes }}</dd>
  <dt class="col-sm-3">Femmes</dt><dd class="col-sm-9">{{ femmes }}</dd>
  <dt class="col-sm-3">Couples</dt><dd class="col-sm-9">{{ couples }}</dd>
  <dt class="col-sm-3">Naissance</dt><dd class="col-sm-9">{{ naissances }}</dd>
  <dt class="col-sm-3">Baptême</dt><dd class="col-sm-9">{{ baptemes }}</dd>
  <dt class="col-sm-3">Déces</dt><dd class="col-sm-9">{{ deces }}</dd>
  <dt class="col-sm-3">Mariage</dt><dd class="col-sm-9">{{ mariages }}</dd>
  <dt class="col-sm-3">Pacs</dt><dd class="col-sm-9">{{ pacs }}</dd>
  <dt class="col-sm-3">Divorce</dt><dd class="col-sm-9">{{ divorces }}</dd>
</dl>

{% if request.user.is_authenticated %}
<table class="table">
  <tr><th>Nom</th><th>Naissance</th><th>Épouse</th><th>Total</th></tr>
  {% for sum, noms, epouses, nom in noms %}
  <tr><td>{{ nom }}</td><td>{{ noms }}</td><td>{{ epouses }}</td><td>{{ sum }}</td></tr>
  {% endfor %}
  <tr><th>Prénom</th><th>Naissance</th><th>Usage</th><th>Total</th></tr>
  {% for sum, prenoms, usages, prenom in prenoms %}
  <tr><td>{{ prenom }}</td><td>{{ prenoms }}</td><td>{{ usages }}</td><td>{{ sum }}</td></tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
