{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-sm-6">
    <h3 class="text-center">Statistiques</h3>
    <dl class="row">
      <dt class="col-sm-6">Individus</dt><dd class="col-sm-6">{{ individus }}</dd>
      <dt class="col-sm-6">Hommes</dt><dd class="col-sm-6">{{ hommes }}</dd>
      <dt class="col-sm-6">Femmes</dt><dd class="col-sm-6">{{ femmes }}</dd>
      <dt class="col-sm-6">Couples</dt><dd class="col-sm-6">{{ couples }}</dd>
      <dt class="col-sm-6">Naissances</dt><dd class="col-sm-6">{{ naissances }}</dd>
      <dt class="col-sm-6">Déces</dt><dd class="col-sm-6">{{ deces }}</dd>
      <dt class="col-sm-6">Mariages</dt><dd class="col-sm-6">{{ mariages }}</dd>
      <dt class="col-sm-6">Pacs</dt><dd class="col-sm-6">{{ pacs }}</dd>
      <dt class="col-sm-6">Divorces</dt><dd class="col-sm-6">{{ divorces }}</dd>
    </dl>
  </div>
  <div class="col-sm-6">
    <h3 class="text-center">Détection d’erreurs potentielles</h3>
    <dl class="row">
      <dt class="col-sm-6">Centenaires</dt><dd class="col-sm-6">{{ centenaires }}</dd>
      <dt class="col-sm-6">Maris pas masculins</dt><dd class="col-sm-6">{{ maris_pas_masculins }}</dd>
      <dt class="col-sm-6">Femmes pas feminines</dt><dd class="col-sm-6">{{ femmes_pas_feminines }}</dd>
      <dt class="col-sm-6">Divorces sans mariages</dt><dd class="col-sm-6">{{ divorces_sans_mariages }}</dd>
    </dl>
  </div>
</div>

{% if request.user.is_authenticated %}
<table class="table">
  <tr><th>Nom</th><th>Naissance</th><th>Épouse</th><th>Total</th></tr>
  {% for sum, noms, epouses, nom in noms %}
  <tr><td>{{ nom }}</td><td>{{ noms }}</td><td>{{ epouses }}</td><td>{{ sum }}</td></tr>
  {% endfor %}
  <tr><th>Prénom</th><th>Naissance</th><th>Usage</th><th>Total</th></tr>
  {% for sum, prenoms, usages, prenom in prenoms %}
  <tr><td>{{ prenom }}</td><td>{{ prenoms }}</td><td>{{ usages }}</td><td>{{ sum }}</td></tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
